{% extends "resto_app/base.html" %}
{% block title %}Connexion{% endblock %}
{% block header_title %}Connexion{% endblock %}

{% with hide_nav=True %}
{% block content %}
<div class="stack">
  <div class="card">
    <div class="card__body">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <label class="field">
            <span class="field__label">{{ field.label }}</span>
            {{ field }}
          </label>
        {% endfor %}
        <button class="btn btn--primary btn--full" type="submit">Se connecter</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% endwith %}
